body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.color-orange{
    color: orange;
}
.button{
    text-decoration: none;
    background-color: gold;
}
.section-saheb{
    display: flex;
    padding-left: 5%;
}
.about-me{
    width: 50%;
} 
.about-me img{
    width: 80%;
}
.link-button{
    color: white;
    text-decoration: none;
   background-image: linear-gradient(gold, goldenrod);
   padding: 10px 40px;
}